<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= post.title %></h2>
      <img class="img-fluid" src="<%= post.image%>" />
      <div class="row justify-content-between">
      
            <form
              action="/put/edit/<%= post.id %>?_method=PUT"
              method="PUT"
              class="col-3"
            >
            <input type="text" placeholder="New Title"/>
        <input type="text" placeholder="New Caption" />
              <button class="btn" type="submit">edit</button>
            </form>

    
      </div>
    </div>
    <div class="col-3 mt-5">
      <p><%= post.caption %></p>
    </div>
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
